<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RSVP for Convocation 2010</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag url_for :controller => 'stylesheets', :action => 'application' %>  
</head>
<body>
	<div id="wrapper">
		<div id="hd">
			<div id="text_head">
				<h1>Convocation 2010</h1> 
				<h3>September 16, 2 - 3:15pm @ the Library Lawn</h3>
			</div>
		</div>
		
		<%= yield %>
	</div>
</body>
</html>
